@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin details {
  ul {
    list-style: none;
    width: 30%;
    margin: 0 auto;

    li{
        text-align: center;
        font-size: 1.7rem;
        padding: 0.5rem;

        &:not(:last-child){
            border-bottom: 1px solid $color-grey-light-2;
        }
    }
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}