// COLORS
$color-primary: #ffa330;
$color-primary-light: #ffb75e;
$color-primary-dark: #ed8f03;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
