// COLORS
$color-primary: #ffa330;
$color-primary-light: #ffb75e;
$color-primary-dark: #ed8f03;

// PROJECT CARDS
$color-secondary-light: #ffb990;
$color-secondary-dark: #ff7730;

$color-terciary-light: #2998ff;
$color-terciary-dark: #5643fa;

//
$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
