*,
*::after,
*::before {
  margin: 0; /* doesnt allow browser to add any margins or paddings */
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines what 1 rem is, a global definition, that's why it's not inside the typography file */
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
  scroll-behavior: smooth;

  @include respond(tab-land) { // width <1200?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port) { // width <900?
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16 = 75%
  }
}

body {
  box-sizing: border-box; /* borders and paddings are no longer added*/
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}