*,
*::after,
*::before {
  margin: 0; /* doesnt allow browser to add any margins or paddings */
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines what 1 rem is, a global definition, that's why it's not inside the typography file */
  font-size: 62.5%; /* root font-size - 10px from 16px default*/
}

body {
  box-sizing: border-box; /* borders and paddings are no longer added*/
}